@import '../../scss/variables';
@import '../../scss/mixins';

.Menu{
    height: 100vh;
    background-color: $dark;
    @include desktopFull(){
        height: auto;
    }
    @include laptopDesktop(){
        height: auto;
    }
    ul{
        list-style-type: none;
        display: grid;
        grid-template-rows: auto;
        padding: 15px;
        grid-gap: 15px;
        @include desktopFull(){
            grid-template-columns: repeat(10, 1fr);
        }
        @include laptopDesktop(){
            grid-template-columns: repeat(10, 1fr);
        }
        li{
            align-self: center;
            justify-self: center;
            cursor: pointer;
            color: white;
        }
    }
}
